.navbar__hamburger {

    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0;
    z-index: 2;

    -webkit-touch-callout: none;
}

.navbar__hamburger:checked ~ .navbar__hamburger-item {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

.navbar__hamburger:checked ~ .navbar__hamburger-item:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

.navbar__hamburger:checked ~ .navbar__hamburger-item:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

.navbar__hamburger:checked ~ .navbar__list {
    transform: none;
}

@media screen and (min-width: 768px) {

    .navbar__hamburger  {
        display: none;
    }


}