.navbar {
    display: block;
    position: relative;
    margin: 30px 0 30px 50px;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
}

@media screen and (min-width: 768px) {

    .navbar {
        top: 0;
        left: 0;
        margin: 22px 28px 38px 39px;
    }

}

@media screen and (min-width: 1600px) {

    .navbar {
        top: 0;
        left: 0;
        margin: 45px 35px 38px 78px;
    }

}