.place__text {
    flex-grow: 1;
    font-size: 9px;
    margin: 15px 0 0 0;
    line-height: 14px;
    padding: 0;
    max-width: 260px;
}

@media screen and (min-width: 768px) {

    .place__text {
        /*max-width: 260px;*/
    }

}

@media screen and (min-width: 1600px) {

    .place__text {
        font-size: 14px;
        max-width: 399px;
        line-height: 23px;
    }

}