.navbar__hamburger-item {

    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #000000;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0;

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;

}

.navbar__hamburger-item:first-child {
    transform-origin: 0% 0%;
}

.navbar__hamburger-item:nth-last-child(2) {
    transform-origin: 0% 100%;
}

@media screen and (min-width: 768px) {

    .navbar__hamburger-item  {
        display: none;
    }


}