.intro {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    width: 100%;

}

@media screen and (min-width: 768px) {

    .intro {
        flex-direction: row;
    }

}


