.intro__text-container {
    display: flex;
    padding: 51px;
    flex-direction: column;
}

@media screen and (min-width: 768px) {

    .intro__text-container {
        display: flex;
        padding: 10% 0 0 51px;
        width: 50%;

    }

}

@media screen and (min-width: 1600px) {

    .intro__text-container {
        padding: 175px 0 0 82px;

    }
}
