.quotes {
    margin: 87px 51px 90px 51px;
}

@media screen and (min-width: 768px) {

    .quotes {
        margin: 87px 0 90px 47px;
    }


}

@media screen and (min-width: 1600px) {

    .quotes {
        margin: 140px 0 163px 80px;
    }


}